<div class="product-section">
    <div class="container">
        <div class="row">

            <!-- Start Column 1 -->
            <div class="col-md-12 col-lg-3 mb-5 mb-lg-0">
                <h2 class="mb-4 section-title">Crafted with excellent material.</h2>
                <p class="mb-4">Donec vitae odio quis nisl dapibus malesuada. Nullam ac aliquet velit. Aliquam vulputate
                    velit imperdiet dolor tempor tristique. </p>
                <p><a href="shop.html" class="btn">Explore</a></p>
            </div>
            <!-- End Column 1 -->

            <!-- Start Column 2 -->
            {% for product in products %}
            <div class="col-12 col-md-4 col-lg-3 mb-5 mb-md-0">
                {% include 'store/components/_product_card.html' %}
            </div>
            {% endfor %}
            <!-- End Column 2 -->
        </div>
    </div>
</div>