<form class="col-md-12" method="post">
    <div class="site-blocks-table">
        <table class="table">
            <thead>
            <tr>
                <th class="product-thumbnail">Image</th>
                <th class="product-name">Product</th>
                <th class="product-price">Price</th>
                <th class="product-quantity">Quantity</th>
                <th class="product-total">Total</th>
                <th class="product-remove">Remove</th>
            </tr>
            </thead>
            <tbody>
            {% for product in products %}
                {% include 'store/components/cart/_cart_row.html' %}

            {% endfor %}

            </tbody>
        </table>
    </div>
</form>